html { 
    box-sizing: border-box; 
}

*, ::after, ::before { 
    box-sizing: inherit; 
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("images/background2.png");
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}

.form__header {
    text-transform: uppercase;
    text-align: center;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(252, 185, 41);
}

.form__labelText {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 5px;
}

.form__field {
    border: 1px solid rgb(66, 66, 66);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.form__fieldset {
    border: 1px solid rgb(66, 66, 66);
    border-radius: 5px;
    background-color: #eee;
}

.form__legend {
    border: 1px solid rgb(66, 66, 66);
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(252, 185, 41);
    font-weight: 700;

}

.form__button {
    border: 1px solid rgb(66, 66, 66);
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(252, 185, 41);
    font-weight: 700;
    width: 100%;
}